################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/eisenhowermatrix/CopilotIndices
/.vs/eisenhowermatrix/copilot-chat/d2731bec/sessions
/.vs/eisenhowermatrix/FileContentIndex
